.filters-container {
  display: inline-block;
  height: 100vh;
  width: 250px;
  border-right: 5px solid #d3d3d3;
  padding: 15px;
  position: fixed;
}

.heading-name {
  font-size: 1.2rem;
}

.price-filter {
  margin-top: 50px;
}

.price-filter .slider {
  margin: 20px 0;
}

.ratings-filter {
  margin-top: 80px;
}

.ratings-input > div {
  display: flex;
  align-items: center;
  margin: 10px;
}

.ratings-input > div > input {
  margin: 0 10px;
  height: 18px;
  width: 18px;
}
