<div class="filters-container">
  <div class="heading-name">
    <h2>Filters</h2>
  </div>
  <div class="price-filter">
    <h3>PRICE</h3>
    <div class="slider">
      <ng5-slider
        [(value)]="minValue"
        [(highValue)]="maxValue"
        [options]="options"
      ></ng5-slider>
    </div>
  </div>
  <div class="ratings-filter">
    <h3>CUSTOMER RATINGS</h3>
    <div class="ratings-input">
      <div class="star" *ngFor="let rating of _ratingList">
        <input
          type="checkbox"
          name="{{ rating.name }}"
          id="{{ rating.id }}"
          (change)="onChange()"
          [(ngModel)]="rating.isSelected"
        />
        <label for="{{ rating.name }}">{{ rating.name }}</label>
      </div>
    </div>
  </div>
</div>
